.container {
  width: 100%;
}

.item {
  width: 211px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider .slick-next {
  right: 10px;
}

.slider .slick-prev {
  left: 12px;
  z-index: 5;
}

.slick-dots {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 1rem;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 7px;
  line-height: 20px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
}

.slick-dots :global(li.slick-active) button::before {
  font-family: "slick";
  font-size: 7px;
  line-height: 20px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: black !important;
}

.arrowSlickBefore {
  position: absolute;
  left: 0px !important;
  top: 175px !important;
}

.arrowSlickNext {
  position: absolute;
  left: 1225px;
  top: 175px !important;
}

.arrowSlickNext::before {
  width: 100%;
  height: 100%;
  content: "" !important;
  display: block;
  position: absolute;
  background-size: contain;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 1;
  opacity: 1;
  right: 0.1rem;
  z-index: 10;
  transform: translateX(-50%);
  background-image: url("https://lep.vn/icons/icon-next.svg");
}

.arrowSlickBefore::before {
  width: 100%;
  height: 100%;
  content: "" !important;
  display: block;
  position: absolute;
  background-size: contain;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 1;
  opacity: 1;
  right: 0.1rem;
  z-index: 10;
  transform: translateX(-50%);
  background-image: url("https://lep.vn/icons/icon-previous.svg");
}

@media only screen and (max-width: 1199px) {
  .slick-dots li button:before {
    font-family: "slick";
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: grey;
  }

  .slick-dots :global(li.slick-active) button::before {
    font-family: "slick";
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 1;
    color: grey !important;
  }

  .arrowSlickBefore {
    position: absolute;
    left: 0px !important;
    top: 180px !important;
  }

  .arrowSlickNext {
    position: absolute;
    left: 0px;
    top: 180px !important;
  }

  .arrowSlickBefore {
    position: absolute;
    left: 0px;
    top: 0;
  }

  .arrowSlickNext::before {
    transform: translateX(-50%);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png");
  }

  .arrowSlickBefore::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png");
  }
}
