.input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 6px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #444;
  outline: none;
  flex-grow: 1;
}

.label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #444;
}

.select {
  outline: none;
  padding: 6px;
}

.buttonLogin {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-red);
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 10px 0;
  text-transform: uppercase;
  min-width: 150px;
}

.buttonLogin:hover {
  opacity: 0.9;
  cursor: pointer;
}
